<h1>Wheel of Fortune</h1>

<h3>Player One: Enter a word or phrase, and I will make a puzzle out of it for Player Two to solve!</h3>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="puzzle">Puzzle</label>
    <input id="puzzle" name="puzzle" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Make the Puzzle!</button>
</form>
